@mixin commonFlex {
  display: flex;
}

.container {
  @include commonFlex;
  flex-direction: column;
  width: 100%;
}

.column {
  width: 25%;
}

.list {
  @include commonFlex;
  margin-bottom: 20px;
  padding: 20px;
}

.flex {
  @include commonFlex;
}

.better_price {
  background-color: #f6ffed;
  border: 1px solid #b7eb8f;
  padding: 20px;
}

.bold_title {
  font-weight: bold;
}

.list_separation {
  margin-bottom: 25px;
}
