.container {
  display: flex;
  background-image: url('https://images.pexels.com/photos/4440795/pexels-photo-4440795.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.card_container {
  width: 30%;
}
